.title{
	text-align: center;
	margin-top: 25px;
}

.form{
	margin:auto;
	max-width: 80%;
	text-align: center;	
}

input[type='submit'], button, [aria-label] {
	cursor:pointer;
}

#edit-box{
	display:none;
	max-width: 80%;
	margin: auto;
	margin-top: 10px;
}